body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.input-meal {
    border-radius: 2px !important;
}

.search-btn {
    background-color: #F06C4E;
    color: white;
}

.search .form-control {
    padding-left: 2.375rem;
}

.search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.menu-item {
    padding: 1px;
    text-align: center;
    width: 270px;
    left: 135px;
    top: 249px;
    background: #f1f0f0;
    border-radius: 26px;
}

#menuDiv img {
    width: 100%;
    border-radius: 14px;
}

.food-detail {
    font-size: 25px;
    color: #040404;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

#menuDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
}

#menuDetail img {
    justify-content: center;
    margin: 0px 307px;
    background-color: #f1f0f0;
    border-radius: 43px;
    height: 482px;
}

#menuDetail h1 {
    font-weight: 700;
    margin: 19px 309px;
}

#menuDetail h3 {
    font-weight: 700;
    margin: 19px 309px;
}

#menuDetail p {
    font-weight: 700;
    margin: 19px 309px;
}