    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .input-meal {
        border-radius: 2px !important;
    }
    
    .search-btn {
        background-color: #F06C4E;
        color: white;
    }
    
    .search .form-control {
        padding-left: 2.375rem;
    }
    
    .search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    
    .menu-item {
        border: 1px solid goldenrod;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        width: 300px;
    }
    
    .food-detail {
        font-size: 45px;
        color: firebrick;
    }
    
    #menuDiv {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }